### 집합
순서없이 항목을 저장, 항목이 중복될 수 없음

In [4]:
s1=set([1,2,3,3,3,4,2])
s1

{1, 2, 3, 4}

In [5]:
s2 = {3,4,5}
print(s2)

{3, 4, 5}

In [6]:
word = 'Hello' *2
print(word)

word_list = list(word) #리스트로 변환
print(word_list)

s3 = set(word_list)
print(s3)

HelloHello
['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']
{'l', 'H', 'e', 'o'}

In [10]:
s = {1,2,3,4,5,3,4}

s.add(10) # s안에 추가
print(s)
s.remove(2)
print(s)

s.update([1,3,5,7,9])
print(s)

{1, 2, 3, 4, 5, 10}
{1, 3, 4, 5, 10}
{1, 3, 4, 5, 7, 9, 10}

In [12]:
s = {1,2,3,4,5}
s.remove(6) #없는 원소라 에러

KeyError: 6

In [13]:
s = {1,2,3,4,5}
s.discard(6) #없는 원소면 그냥 넘어감

In [14]:
s = {1,2,3,4,5}
s.clear()#셋 비우기
print(s)

set()

In [18]:
s1={1,2,3}
s2={3,4,5}

s3=s1.union(s2)#합집합
print(s3)

{1, 2, 3, 4, 5}

In [20]:
s3=s1|s2 #합집합
print(s3)

{1, 2, 3, 4, 5}

In [22]:
s3=s1&s2 #교집합
print(s3)

{3}

In [24]:
s3=s1 - s2 #차집합
print(s3)

{1, 2}

# 실습1
1부터 100까지 숫자 중 3과 5의 공배수를 집합 형태로 만들어 아래와 같이 출력하시오.

In [62]:
s3 = set()
for i in range(1, 100):
    if i <= 100:
        if i %3 ==0:
            s3.add(i)
s5 = set()
for i in range(1, 100):
    if i <= 100:
        if i %5 ==0:
            s5.add(i)
s=s3 & s5
print(s)
print("3과 5의 공배수:",len(s),"개")

{75, 45, 15, 90, 60, 30}
3과 5의 공배수: 6 개

In [65]:
s3 = set([i for i in range(3, 101, 3)]) #1~100
print(s3)

l = [ i + 1 for i in range(3, 101, 3)]#i의 숫자들을 그대로 i안에 넣어야하기때문에 두번번/이건 i+1예시
s3 = set(l)
print(s3)


s5=set([i for i in range(5, 101, 5)])
print(s5)

#range(a,b,c)
#a~b(포함x), c만큼씩 건너뛰면서
#range(1,5,2)
#1, 3
#rnage(3,101,3) => 3,6,9,12...

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99}
{4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97, 100}
{5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100}

## 실습1 정답

In [67]:
s3 = set([i for i in range(3, 101, 3)]) #1~100
s5=set([i for i in range(5, 101, 5)])

s=s3 & s5
print(s)
print("3과 5의 공배수:",len(s),"개")

{75, 45, 15, 90, 60, 30}
3과 5의 공배수: 6 개

## 딕셔너리
- 키로 value를 관리
- 빈 중괄호를 두면 빈 딕셔너리 생성

In [16]:
d = {}

#key: 'kim', value:1
d['kim'] = 1

#key:'park', value: 2
d['park']=2

#'kim': 1 -> 3
d['kim']=3

print(d)

#key: 'youn', value:1
d['youn']=1
print(d)

#키만 출력
print(d.keys())

#value만 출력
print(d.values())

#키랑 value출력
print(d.items())
'kim' in d

print('a' in d)

del d['kim']

print(d)

d.clear()

{'kim': 3, 'park': 2}
{'kim': 3, 'park': 2, 'youn': 1}
dict_keys(['kim', 'park', 'youn'])
dict_values([3, 2, 1])
dict_items([('kim', 3), ('park', 2), ('youn', 1)])
False
{'park': 2, 'youn': 1}

## 실습2
for 문을 사용하여 아래 딕셔너리 d의 모든 value를 출력해 보세요.

In [71]:
d = {'kim': 3, 'park': 2, 'youn': 1}
print(d['kim'],d['park'], d['youn'])

3 2 1

In [72]:
d = {'kim': 3, 'park': 2, 'youn': 1}

dict_values([3, 2, 1])

In [43]:
d = {'kim': 3, 'park': 2, 'youn': 1}

#d의 원소 확인
for elem in d.items():
    print(elem)

#키와 벨류값 나눠져서 저장됨
for k,v in d.items():
    print(v)

('kim', 3)
('park', 2)
('youn', 1)
3
2
1

### 실습2 정답

In [45]:
d = {'kim':  3, 'park': 2, 'youn': 1}

#키와 벨류값 나눠져서 저장됨
for k,v in d.items():
    print(v)

3
2
1

## 실습3
어떤 문장을 입력 받으
면 해당 문장에서 각 문자가 몇 개씩 나오는지 저장하는 딕셔너리를 만든 후, 아래와 같이 출력하시오.

In [54]:
s = input('Enter a sentence: ')

#list는 순서있고 set은 순서없어서 키랑 벨류값 뽑기위해 다시 감싼것
l=list(set(s))

d={}

#만약에 리스트안에 k가 있으면 그 개수를 세고 d[벨류]=키의 갯수
for k in l:
    c=s.count(k)
    d[k]=c

print(d)

Enter a sentence:  Python is fun!

{'i': 1, 'h': 1, 'n': 2, ' ': 2, 'o': 1, '!': 1, 'P': 1, 'u': 1, 't': 1, 'f': 1, 'y': 1, 's': 1}

## List comprehension
- 리스트에 for 문을 사용하여 반복적으로 표현식을 실행해서 리스트 원소들을 정의하는 용법
- [ 표현식 for 요소 in 시퀀스자료형 [if 조건문] ]

In [64]:
#i에는 1,2,3,4,5가 차례로 들어감
L =[i for i in range(1, 6)]
print(L)

[1, 2, 3, 4, 5]

In [65]:
#i에는 1,2,3,4,5가 차례로 들어가는데 거기에 2씩 곱해서 L에 들어감
L =[i*2 for i in range(1, 6)]
print(L)

[2, 4, 6, 8, 10]

In [66]:
#i에는 1,2,3,4,5가 차례로 들어가는데 거기에 제곱해서 L에 들어감
L =[i**2 for i in range(1, 6)]
print(L)

[1, 4, 9, 16, 25]

In [67]:
#i에는 1,2,3,4,5가 차례로 들어감
#그 중에 짝수만!(나머지 0은 %기호 사용)
L =[i for i in range(1, 6) if i%2==0]
print(L)

[2, 4]

In [70]:
L1=[1,2,3]
L2=[3,4,5]

L3=[x*y for x in L1 for y in L2]
print(L3)

[3, 4, 5, 6, 8, 10, 9, 12, 15]

In [71]:
p = True #(Boolean)
#p가 참일때는 A, 아닐때는 B출력
print('A') if p else print('B')

A

In [72]:
p = False #(Boolean)
#p가 참일때는 A, 아닐때는 B출력
print('A') if p else print('B')

B

In [79]:
L1=[1,2,3]
L2=[4,5,6]
L3=['a','b','c']

#출력물 이쁘게 보이기 위해서 list로 감쌈
print(list(zip(L1,L2,L3)))

print([sum(x) for x in zip((1,2,3),(4,5,6))])
#zip->[(1,4),(2,5),(3,6)]
#x-> (1,4)
#y-> (2,5)
#z-> (3,6)

[(1, 4, 'a'), (2, 5, 'b'), (3, 6, 'c')]
[5, 7, 9]

## 실습4
아래와 같이 주어진 2개의 리스트로 딕셔너리를 만들어 출력하시오. 단,순서는 다를 수 있음

In [91]:
L1 = ['one', 'two', 'three', 'four']
L2 = [1, 2, 3, 4]
l=list(zip(L1, L2))
d={}

for k,v in d.items():
    print()
    실
for k in l:
    c=s.count(k)
    d[k]=c

SyntaxError: incomplete input (2878273258.py, line 7)

### 실습4 정답

In [98]:
L1 = ['one', 'two', 'three', 'four']
L2 = [1, 2, 3, 4]

L3 = list(zip(L1,L2))

d={}

for k, v in L3:
    d[k]=v

print(d)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}