## 함수

In [63]:
def add(a,b):
    result = a + b
    return result

add_result= add(100, 200)
print(add_result)

def add3add5():
    return 8

def print_this(s):
    print(s)

300

In [64]:
#함수 정의
def add_and_mul(a,b):
    return(a+b, a*b)

#함수 호출
add_res, mul_res = add_and_mul(3,4)
print(add_res)
print(mul_res)

7
12

## 실습1
- len()구현 (len()을 사용하지 않고 구현할 것)
- 요소의 개수가 같도록 마이렌 구현하기

### 실습1 정답

In [1]:
def my_len(x): # input: 리스트, 문자열
    length = 0
    
    for i in x:
        length += 1

    return length

a = [5,5,6,7,8,3]
b = 'Life is short.'
print(len(a), len(b))
# 내장 함수 len()
print(my_len(a), my_len(b))

6 14
6 14

## 실습2
양의 정수 a와 b를 전달받아 a부터 b까지 곱해서 반환하는 mult 함수를 작성하시오

실습2 정답

In [2]:
def mult(a,b):
    result =1

    for i in range(a,b+1,1) :# i: a~b
        #result = result*i
        result *= i

    return result

print(mult(1,3))
print(mult(2,5))

6
120

## 실습3
숫자로 구성된 리스트를 전달받아, 리스트에서 양수 값을 더한 결과와 음수 값을 더한 결과를 반환하는 함수를 작성하시오.

### 실습3정답

In [49]:
def sum_pos_neg(l): #input: list of numbers

    possum, negsum = 0, 0

    for i in l:
         if i>0:
             #possum = possum + i
             possum += i
         else: #else는 뒤에 조건없이 맨마지막,  elif는 뒤에 조건있음
            negsum += i

    return possum, negsum

possum, negsum = sum_pos_neg([3,4,-6,-3])
print(possum,negsum)음

#위에랑 같은데 그냥 앞에 씀
mylist = [0,0,0,0,0,0,0,0,0,1,-1]
possum2, negsum2 = sum_pos_neg(mylist)
print(possum2,negsum2)

7 -9
1 -1

## 가변 매개변수

In [53]:
#몇개들어올지 모르는 변수 지정
def count_even(*n):
    print(n)

count_even(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [6]:
def f1(a, *b):
    f1(1,2,3,4,5)

## 실습4-매개변수
1개 이상의 2차원 벡터들을 전달받아 벡터들의 합을 구하여 반환하는 함수를 작성하시오.

### 실습4 정답

In [22]:
def vector_sum(vector, *vectors):
    #vector: v1()[0,1]
    #vectors:(v2, v3)([0.5, 0.5],[1,0])

    #result는 2차원 벡터인데 v1의 경우만 확실히 들어와있기때문에(그뒤는 매개변수) v1으로 쓴것.v2도 되긴함
    result=[v1[0], v1[1]]

    for v in vectors:
        result[0] = result[0] + v[0]
        result[1] = result[1] + v[1]

    return result
    
v1=[0, 1]
v2=[0.5, 0.5]
v3=[1, 0]
v4=[6, 4]
v5=[3.13, 2.72]
m1 = vector_sum(v1, v2, v3)
m2 = vector_sum(v1, v2, v3, v4)
m3 = vector_sum(v3, v5)
print(m1,m2,m3)

[1.5, 1.5] [7.5, 5.5] [3.13, 3.72]

### 디폴트 매개변수

In [26]:
def print_name(first, second='Kim'): #second변수 기본값 'Kim'
    print('My name is', first, second + '.')

print_name('Gildong', 'Hong')#두번째인자존재
print_name('Gildong')#두번재 인자없어서 디폴트값이 출력됨

My name is Gildong Hong.
My name is Gildong Kim.

In [28]:
def print_name(first='kim', second): 
#에러 발생, 앞매개변수가 디폴트면 뒤에오는 매개변수는 반드시 디폴트있어야함
# 다시말해 디폴트값은 뒤에 몰아있어야함!

SyntaxError: non-default argument follows default argument (411828947.py, line 1)

In [30]:
def calc(x,y=0,z=0):
    return x+y+z

result = calc(10,20,30)

result = calc(z=30, y=20,x=10) # 명시적으로 적을때는 순서 달라도 괜찮음

In [33]:
del calc(x, y=0, z=0):
    return x+y+z

print(calc(y=20, x=10))

print(calc(10, 30, y=20))#이건 y에 20넣을지 30넣을지 정확하지 않아서 오류남

SyntaxError: cannot delete function call (3612020289.py, line 1)

In [37]:
print("ABC", end ='\n') # 여기 end에는 개행이 디폴트값, 그래서 그냥 프린트하면 줄 다른거
print("DEF")

ABC
DEF

In [38]:
print("ABC", end ='    ') #이건 공백4개라서 개행이 아닌 공백으로 값을 분리해줌 
print("DEF")

ABC    DEF

## 실습5_디폴트 매개변수 답안

In [6]:
def merge_list(l1=[0], l2=[0]):
    l3 = l1 + l2
    l3.sort()#리스트 오름차순 정렬
    result = l3
    return result

l = [3, 5, 9, 1, 2]
ml1 = merge_list(l,[2,1])
ml2 = merge_list([6,9,4])
ml3 = merge_list()
print(ml1) # [1, 1, 2, 2, 3, 5, 9]
print(ml2) # [0, 4, 6, 9]
print(ml3) # [0, 0]

[1, 1, 2, 2, 3, 5, 9]
[0, 4, 6, 9]
[0, 0]

In [41]:
def add_value(a, b):
    add_res=a+b
    return add_res

x=10
y=20
res=add_value(x, y)#add_res가 만들어지지않았는데 사용됨??

print(add_res)

NameError: name 'add_res' is not defined

In [42]:
def addX(_x):
    return x+_x

x=10
y=20#add_res가 만들어지지않았는데 사용됨

res=addX(y)
print(res)

30

In [44]:
def addX(_x):x #변수를 만들고나면 그 변수의 범위 파악이 중요함!
    global 
    x=100
    return x+_x

x=10
y=20

res=addX(y)
print(x)

100

## 난수

In [47]:
import random

random.choice([1,2,3,4,5])#꼭 숫자일필요없음

3

In [55]:
import random

a=10
b=20
print(random.randint(a,b))

random.randrange(a,b+1)

Ls=[1,2,3,4,5]

random.shuffle(Ls)

print(Ls)

random.sample([1,2,3,4,5,6],3)

15
[3, 4, 2, 5, 1]

[2, 5, 1]

## 실습6
점심 메뉴 리스트에서 임의로 하나의 메뉴를 골라 정해주는 프로그램을 완성하시오.

In [26]:
import random
menu = ["된장찌개", "부대찌개", "김치찌개", "삼계탕", "파스타", "돈까스", "쌀국수"]
bab=random.choice(menu)
print("오늘 점심은 "+bab+"입니다.")#+쓰면 ,와 다르게 불필요한 공백을 줄일수있음

오늘 점심은 김치찌개입니다.

## 실습7
로또 추첨 프로그램
- 5개의 로또 번호 조합을 출력해주는 프로그램을 작성
- 1~45 숫자 중 6개를 임의로 선택 후 정렬하여 출력
- 단, 중복된 번호를 가질 수 없음

이 문제 경우 우선적으로 프린트되어야할 문구가 존재함.
이때 우리는 총 5번 같은 과정 반복
그래서 for문으로 그 과정을 작성해 나감

### 실습7 내정답

In [7]:
import random
print("** 로또 번호 자동 기입을 시작합니다 **")

for i in range(1,6,1):
    l=list(range(1,46))
    lottos = random.sample(l,6)
    print(i, "번째 자동 기입 ==> ",*lottos)

#프린트문을 for문 밖에다가ㅏ 적으면 5번째만 나온다!주의할것

** 로또 번호 자동 기입을 시작합니다 **
1 번째 자동 기입 ==>  8 3 21 22 27 37
2 번째 자동 기입 ==>  26 17 10 24 33 31
3 번째 자동 기입 ==>  43 45 31 38 7 41
4 번째 자동 기입 ==>  12 14 39 36 27 7
5 번째 자동 기입 ==>  33 20 37 9 34 5

### 실습7 모범답안

In [17]:
import random
print("** 로또 번호 자동 기입을 시작합니다 **")

for i in range(5): # i는 0부터 4까지 들어감감
    #출력1 : "몇번째 자동 기입 ==>"
    print(str(i+1)+"번째 자동 기입 ==>", end=" ")

    #출력2 : 6개의 랜덤한 숫자
    lotto=random.sample(range(1,46), 6)
    print(*lotto)

** 로또 번호 자동 기입을 시작합니다 **
1번째 자동 기입 ==> 39 30 18 8 25 6
2번째 자동 기입 ==> 43 18 20 19 1 45
3번째 자동 기입 ==> 43 41 35 9 30 21
4번째 자동 기입 ==> 29 23 34 15 4 24
5번째 자동 기입 ==> 29 40 19 26 13 30

알아두면 좋은정보

In [1]:
l = [1,2,3,4,5]
print(l)
print(*l)#리스트에서 괄호빼고 원소들만 출력가능

[1, 2, 3, 4, 5]
1 2 3 4 5

## 실습8
- 숫자로 구성된 리스트를 전달받아 최댓값, 최솟값을 반환하고, 두 수를 리스트에서 제거하는 함수를 작성하시오.

## 실습8 모범답안

In [3]:
def get_min_max(l): #input: A list of numbers
    min_val=min(l)
    max_val=max(l)

    #mn_val, max_val removed from l
    l.remove(min_val)
    l.remove(max_val)

    return min_val, max_val

l = [3, 5, 9, 1, 2]
min_val, max_val = get_min_max(l)

print(min_val)
print(max_val)
print(l)

1
9
[3, 5, 2]

## 실습9
- 두 딕셔너리를 전달받아 각 딕셔너리에 등장한 값을 모두 더한 새로운 딕셔너리를 반환하는 함수 comb_dict()를 작성하시오.

In [26]:
def comb_dict(d1, d2):
    res = d1.copy()#그냥 d1으로 하면 print(d3)했을때 d3과 같은 결과가 나올수있음. 서
    #아예 res의 저장이 거기로 연결되기 때문. 따라서 카피본으로 수행

    for k, v in d2.items():
        
        # 첫번째 경우:  e가  d1에 있는경우
        if k in d1:
            res[k] += v
        
        # 두번째 경우:  e가  d1에 없는경우
        else:
            res[k] = v

    return res

d1 = {'a': 1, 'b': 3, 'd': 7, 'e': 8}
d2 = {'a': 2, 'c': 4, 'e': 1}
d3 = comb_dict(d1, d2)
print(d3)

{'a': 3, 'b': 3, 'd': 7, 'e': 9, 'c': 4}

## 실습10
- 숫자를 2개 이상 입력 받아, 최댓값과 최솟값의 차를 반환하는 함수를 작성하시오.

## 실습10 모범답안

In [31]:
def diff(*l): #가변 매개변수
    min_val=min(l)
    max_val=max(l)
    return max_val - min_val

print(diff(1,2,3,4,5))
print(diff(-100, 200))

4
300